.user-avatar{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 200%;
    overflow: hidden;
}
.user-avatar img{
    object-fit: cover;
    height: -webkit-fill-available;
    width: inherit;
}